/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  height: 100%;
  display: table;
  margin: auto;
}

article {
  margin: auto;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

h1 {
  margin: 48px auto;
  text-align: center;
}

img {
  max-width: 100%;
}

.separator {
  padding-bottom: 5px;
  margin: 10px 0 40px;
  border-bottom: 1px solid #ddd;
}
